<div class="character-select-container">
  <h2>Seleziona il tuo personaggio</h2>
  <form (ngSubmit)="joinLobby()">
    <input type="text" [(ngModel)]="playerName" name="playerName" placeholder="Nome giocatore" required />
    <div class="weapon-select">
      <div class="weapon-option" [class.selected]="weapon === 'sword'" (click)="selectWeapon('sword')">
        <div class="weapon-image-box">
          <img src="assets/images/spada.png" alt="Spada" 
            onerror="this.src='assets/images/sword.png'" />
        </div>
        <span class="weapon-name">Spada</span>
      </div>
      <div class="weapon-option" [class.selected]="weapon === 'spear'" (click)="selectWeapon('spear')">
        <div class="weapon-image-box">
          <img src="assets/images/lancia.png" alt="Lancia" 
            onerror="this.src='assets/images/spear.png'" />
        </div>
        <span class="weapon-name">Lancia</span>
      </div>
      <div class="weapon-option" [class.selected]="weapon === 'bow'" (click)="selectWeapon('bow')">
        <div class="weapon-image-box">
          <img src="assets/images/arco.png" alt="Arco" 
            onerror="this.src='assets/images/bow.png'" />
        </div>
        <span class="weapon-name">Arco</span>
      </div>
    </div>
    <button type="submit">Entra in lobby</button>
    <div class="error" *ngIf="error">{{ error }}</div>
  </form>
</div>
